.sebcard {
    max-width: 200px;
    min-width: 199px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }

mat-card:hover {
    background-color: lightgrey;
}

img{
    max-width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
img:hover{
    background-color: gray
}
.bottom-left {
    position: 0 auto;
    bottom: 8px;
    
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
div{
    margin: 0 auto;
}